doctype html
html
  head
    title Hero API Server
  body
    h1 Welcome to the Hero API Server
    p The following routes are known to this server
    ul
      li /authentication
      li /heroes (protected route)
      li /users (protected route)