<div class="jumbotron">
    <h1>MEAN Starter Kit on Docker</h1>
    <p>Starter kit application using Angular 2, Express, Node.js and MongoDB all hosted on Docker</p>
    <img src="/assets/mongodb.svg" width="120" height="120" alt="MongoDB Logo">
    <img src="/assets/plus.png" alt="Plus">
    <img src="/assets/express.png" width="140" alt="Nodejs Logo">
    <img src="/assets/plus.png" alt="Plus">
    <img src="/assets/angular.svg" width="120" height="120" alt="Angular Logo">
    <img src="/assets/plus.png" alt="Plus">
    <img src="/assets/nodejs.png" width="140" alt="Nodejs Logo">
    <img src="/assets/plus.png" alt="Plus">
    <img src="/assets/moby.svg" width="120" height="120" alt="Docker Logo">
</div>