doctype html
html
  head
    title Request to reset password
  body
    p Hello,

    p There was a recent request to reset the password on your account. Click the link below to confirm this change:

    p
      a(href="#{clientWebUrl}/reset-password/#{uniqueId}", title="Click here to set your new password") Set new password

    p If you didn't ask to reset your password, it's likely that another user entered your email address by mistake while trying to reset their password. If that's the case, you don't need to take any further action and can safely disregard this email.