<h3>Security</h3>
<p>Hello from security component</p>
<!--
    <div class="form-group">
        <label for="inputId">Id</label>
        <input class="form-control" id="inputId" value="{{user._id}}" placeholder="Id" disabled>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input class="form-control" [(ngModel)]="user.email" id="inputName" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control" [(ngModel)]="user.password" id="inputPassword" placeholder="Password">
    </div>
    <button (click)="save()" class="btn btn-primary">Save</button>
    -->