<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Register new account</h2>
        <div *ngIf="success" class="alert alert-success">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <!-- model-driven (Reactive) forms -->
        <form novalidate (ngSubmit)="save(user)" [formGroup]="user">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <div class="alert alert-danger" *ngIf="user.get('email').touched && user.get('email').hasError('required')">Email is required</div>
                <div class="alert alert-danger" *ngIf="user.get('email').touched && user.get('email').hasError('minlength')">Minimum of 2 characters required</div>
                <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group">
                <div class="alert alert-danger" *ngIf="user.get('password').touched && user.get('password').hasError('required')">Password is required</div>
                <div class="alert alert-danger" *ngIf="user.get('password').touched && user.get('password').hasError('minlength')">Minimum of 2 characters required</div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button type="submit" [disabled]="user.invalid" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>